services:
  digital-oscilloscope-firmware:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: piatekbartosz/digital-oscilloscope-firmware:1.0.0
    container_name: digital-oscilloscope-firmware
    volumes:
      - ./:/workspace

    command: sleep infinity
