config DAC_DACX1408
	bool "TI DACx1408 DAC driver"
	default y
	depends on DT_HAS_TI_DACX1408_ENABLED
	select I2C
	help
	  Enable the driver for the TI DACx1408.

if DAC_DACX1408

config DAC_DACX1408_INIT_PRIORITY
	int "Init priority"
	default 80
	help
	  TI DACx1408 DAC device driver initialization priority. Must be greater than I2C_INIT_PRIORITY.

endif # DAC_DACX1408
